---
If:
  PathMatch: [.*\.c, .*\.h]
CompileFlags:
  Add: [
    -xc,
    -std=c2x,
    -Wall,
    -Werror=implicit-function-declaration,
    -Werror=implicit-int,
    -Werror=return-type,
    -Werror=strict-prototypes,
    -Werror=deprecated-non-prototype
    -Wextra,
    -Wimplicit-fallthrough,
    -Wpedantic,
    ]
---
If:
  PathMatch: [.*\.h]
CompileFlags:
  Add: [
    -Wno-empty-translation-unit,
  ]
---
If:
  PathMatch: [.*\.cc, .*\.hh]
CompileFlags:
  Add: [
    -xc++,
    -std=c++17,
    -stdlib=libc++,
    -Wall,
    -Wc++17-compat-pedantic,
    -Wc++20-compat-pedantic,
    -Wc++20-extensions,
    -Wc++2b-compat-pedantic,
    -Wc++2b-extensions,
    -Wextra,
    -Wpedantic,
    ]
...
